* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    width: 100%;
    background-color: rgb(37, 34, 34)
}

header {
    position: fixed;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-bottom: 1px solid black;
    height: 10%;
    box-shadow: 0px 1px 3px rgb(102, 88, 88);
    top: 0;
}

header img,h2 {
    float: left;
}

header h2 {
    padding-left: 8%;
    margin-top: 3.5%;
    font-size: 15px;
}

.logo {
    width: 20%;
    float: left;
}

.logo img {
    margin-left: 4%;
    width: 70%;
}

.menu {
    width: 60%;
    float: left;
    margin-left: -10%;
}

.menu h2 {
    margin-left: 7%;
}

.menu a {
    color: white;
}

.contato {
    width: 20%;
    float: left;
    margin-left: 10%;
}

.contato img {
    padding-top: 10%;
    padding-left: 7%;
    width: 7%;
    height: 7%;
}

#stop-float {
    clear: both;
}

header h2:hover{
    animation: testo .7s 1;
    color: rgb(158, 95, 18);
}

.contato img:hover{
    animation: image .7s 1;
}

@keyframes image {
    0%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(25%);
    }
    50%{
        transform: translateY(-8px);
    }

    75%{
        transform: translateY(15%);
    }
    85%{
        transform: translateY(-2px);
    }
    100%{
        transform: translateY(3%);
    }
}

@keyframes testo {
    0%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(10%);
    }
    50%{
        transform: translateY(-4px);
    }

    75%{
        transform: translateY(10%);
    }
    85%{
        transform: translateY(-2px);
    }
    100%{
        transform: translateY(1%);
    }
}



.topo {
    text-align: center;
    padding-top: 7%;
    font-size: 14px;
}



#main_1 {
    padding-top: 2.5%;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#main_1 div {
    margin: auto;
    width: 90%;
    background-color: rgb(0, 0, 0);
    border-radius: 2%;
    /* box-shadow: 0 1px 9px rgba(0, 0, 0, 0.4); */
    box-shadow: 0px 1px 4px rgb(66, 63, 63);
    margin-bottom: 10%;
} 

#main_1 div img {
    width: 100%;
    height: 300px;
    border-radius: 2% 2% 0% 0%;
    box-shadow: 0 0px 9px rgba(58, 56, 56, 0.4);
    object-fit: cover;
}

#main_1 div h3 {
    text-align: center;
    padding-bottom: 3%;
    padding-top: 2%;
}

#main_1 div h3 {
    color: white;
} 

#aaaaa {
    grid-column: 2;
}

#main_1 div:hover {
    scale: 1.05;
    transition: 0.5s;
}

/* .learn {
    background-color: rgb(180, 18, 167);
    width: 40%;
    height: 10%;
    text-align: center;
    margin: auto;
    border-radius: 4%;
}
.learn p {
    padding-top: 10%;
} */

/*  */

/* #main_2 {
    padding: 0% 2% 0% 2%;
    width: 80%;
    margin: auto;
    background-color: white;
}

#main_2 section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#main_2 section h3, h4 {
    text-indent: 7%;
    padding: 4% 0% 4% 0%;
    text-align: center;
}


#main_2 section h3 {
    font-size: 150%;
    margin-top: 10%;
}

#main_2 section p { 
    text-align: end;
    text-indent: 7%;
    padding-bottom: 3%;
    font-size: 120%;
    line-height: 150%;
}

#main_2 section img {
    width: 500px;
    height: 500px;
    margin-left: 20%;
    border-radius: 4%;
    object-fit: cover;
} */

#main_3 {
    padding: 0% 2% 0% 2%;
    width: 80%;
    margin: auto;
    background-color: white;
    
}

#main_3 h1 {
    padding: 3%;
    font-size: 190%;
}

#main_3 section h3 {
    font-size: 125%;
    padding-top: 2%;
    padding-bottom: 0.5%;
}

#main_3 section p {
    text-align: justify;
    text-indent: 7%;
    padding-bottom: 1.5%;
    font-size: 120%;
}

#main_3 section h4 {
    font-size: 150%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 2%;
}

#main_3 section h5 {
    font-size: 150%;
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 2%;
}

#main_3 section div img {
    margin-left: 6%;
    width: 25%;
    height: 350px;
    object-fit: cover;
}

#main_3 section .img_gateway img {
    width: 35%;
    object-fit: fill;
}

#main_3 td:nth-child(even) {
    background-color: rgb(196, 183, 183);
}

#main_3 td:nth-child(odd) {
    background-color: rgb(101, 92, 107);
}



#main_3 table {
    /* table-layout: auto; */
    text-align: center;
    font-size: 100%;
    /* border: 1px solid red; */
}

#main_3 td {
    padding: 1%;
    /* border: 1px solid blue; */
}

#main_3 section li {
    font-size: 110%;
    padding: 1%;
    /* text-indent: 2%; */
    text-align: justify;
}


/* .main_4 {
    font-family: "Poppins",Arial;
    font-size: 120%;
    width: 80%;
    padding-top: 110px;
    margin: auto;
    line-height: 160%;
    background-color: white;
    text-align: justify;
}

.main_4 h1 {
    padding-bottom: 4%;
}

.main_4 img {
    width: 20%;
}

.main_4 .all {
    margin-left: 3%;
}

.main_4 section {
    padding-bottom: 3%;
} */

/*  */

/* #protocolo h1 {
    text-align: center;
    font-size: 200%;
}

#protocolo section img,p,li {
    margin-top: 2%;
    color: rgb(31, 31, 31);
}

#protocolo ul {
    margin-left: 5%;
}

#image_protocolo {
    width: 40%;
    margin-left: 3%;
} */

/*  */